<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
	    <meta name="wap-font-scale" content="no" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta content="telephone=no" name="format-detection" />
	    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
	    <title>拼趣多-省钱大法</title>
	    <link rel="stylesheet" href="css/swiper.min.css?v=f271fa3348">
	    <link rel="stylesheet" href="css/base.css?v=2156a6538c">
	    <link rel="stylesheet" href="css/page.css?v=816dde6f94">
	    <link rel="stylesheet" href="css/dialog.css?v=3531a7a373">
	    <!--qq/微信 功能性api-->
	    <script src="dist/jweixin-1.0.0.js?v=41ad021d4c53" data-api="wx"></script>
	    <script src="dist/qqShare.js?v=41d85faaad5c" data-api="qq"></script>
	</head>
	<body>
	<div id="loading-template"></div>
	<div class="wrap" id="wrap">
		<main class="main">
			<div class="main-body" id="main-body">
				<img :src="banner_img" alt=""  style="height:auto;width: 100%">
				<div class="page-good-group" id="page-good-group" v-cloak v-if="goods_data.length>0">
					<ul class="clearfix">
						<li v-for="item in goods_data">
							<a :href="'goods_detail.html?goods_id='+item.goods_id" class="tap">
								<div class="pic" style="display: flex;justify-content: center;align-items: center">
									<img :src="item.original" alt="">
								</div>
								<div class="title fs12" style="height: 2.8rem">
									{{item.goods_name}}
								</div>
								<div class="footing clearfix">
									<div class="fl price fs10">
										<span class="red1 fs12">￥{{item.prom_price}}</span>
										<span class="gray1">{{item.prom+'人团'}}</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
					<p class="more-hint tc gray1" id="more-hint">
						{{load_hint}}
					</p>
				</div>
				<p style="text-align:center;margin-top:2.5rem"v-else>
				暂时没有商品
				</p>
			</div>
		</main>
	</div>
	<!-- <a href="./index/index.html#/active" style="position: fixed;top: 40rem;right: 0;z-index: 999999;width: 7rem;"  >
		<img src="./images/main_double11@2x.png" alt="" style="width: 100%">
	</a> -->
		<script src="dist/save_money.js?v=3e31ff8d38b0f59934f0"></script>
	</body>
</html>
